<md-card>
  <md-card-header>
    <md-card-title>Lease may bay for $4 a day</md-card-title>
  </md-card-header>
  <md-card-content>
    <div fxLayout="column">
      <md-input-container>
        <input mdInput placeholder="Address" type="text" [ngModel]="(bay|async)?.address" (ngModelChange)="bay.update({address: $event})"
          name="address">
      </md-input-container>
      <md-input-container>
        <textarea mdInput placeholder="Description" rows="4" [ngModel]="(bay|async)?.description" (ngModelChange)="bay.update({description: $event})"
          name="description">
        </textarea>
      </md-input-container>
    </div>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-card-title>Bay is available on following days:</md-card-title>
  </md-card-header>
  <md-card-content>
    <md-checkbox [ngModel]="(bay|async)?.Mon" (ngModelChange)="bay.update({Mon: $event})" name="Mon">Monday</md-checkbox>
    <md-checkbox [ngModel]="(bay|async)?.Tue" (ngModelChange)="bay.update({Tue: $event})" name="Tue">Tuesday</md-checkbox>
    <md-checkbox [ngModel]="(bay|async)?.Wed" (ngModelChange)="bay.update({Wed: $event})" name="Wed">Wednesday</md-checkbox>
    <md-checkbox [ngModel]="(bay|async)?.Thu" (ngModelChange)="bay.update({Thu: $event})" name="Thu">Thursday</md-checkbox>
    <md-checkbox [ngModel]="(bay|async)?.Fri" (ngModelChange)="bay.update({Fri: $event})" name="Fri">Friday</md-checkbox>
  </md-card-content>
</md-card>
<app-bank-account></app-bank-account>