<md-card>
  <md-card-header>
    <md-card-title>Lease may bay for $4 a day</md-card-title>
  </md-card-header>
  <md-card-content>
    <div fxLayout="column">
      <md-input-container>
        <input mdInput placeholder="Address">
      </md-input-container>
      <md-input-container>
        <textarea mdInput placeholder="Description" rows="5"></textarea>
      </md-input-container>
      <md-checkbox>Monday</md-checkbox>
      <md-checkbox>Tuesday</md-checkbox>
      <md-checkbox>Wednesday</md-checkbox>
      <md-checkbox>Thursday</md-checkbox>
      <md-checkbox>Friday</md-checkbox>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button>OK</button>
  </md-card-actions>
</md-card>